<script type="text/javascript">
	$(document).ready(function(){
		$(".comm_names").hover(function(){
			$(this).toggleClass("rocky");
		});
	});
</script>

<div class="dashboard">
	<%= render 'shared/left_section' %>
	<div class="right-section">
		<div>
			<% provide(:title, @title) %>
			<div>
				<h3><%= @title %></h3>
				<% @comms.each do |comm| %>
					<strong><%= link_to comm.c_name, disc_board_path(comm.id), class: "btn btn-comms comm_names" %></strong>
				<% end %>
			</div>
		</div>
	</div>
</div>