<% if @user == current_user %>
<div class="dashboard">
	<%= render 'shared/left_section' %>
	<div class="right-section">
		<div class="create_post">
			<%= render 'posts/form' %>
		</div>
		<%= render 'posts' %>
	</div>
</div>
<% end %>