<div class="profile">
	<%= render 'profiles/left_section' %>
	<div class="right-section">
		<div id="all_posts">
			<div class="all_sections">
				<div class="details_section">
					<h4>All Posts</h4>
					<% @user.posts.each do |post| %>
						<h5><strong><%= link_to post.title, post %></strong></h5>
						<%= post.content %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>