<div class="profile">
	<%= render 'shared/left_section' %>
	<div class="right-section">
		<div class="all_tabs">
			<div class="details_section">
				<h4>Employment Details</h4>
				<%= @user.work_status %>
			</div>
		</div>
	</div>
</div>