<div class="profile">
	<%= render 'profiles/left_section' %>
	<div class="right-section">
		<div id="show_comms">
			<div class="all_sections">
				<% provide(:title, @title) %>
				<div class="details_section">
					<h4>Communities</h4>
					<% @user.comms.each do |comm| %>
						<p><strong><%= link_to comm.c_name, disc_board_path(comm.id) %></strong></p>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>