<p><h2>Hello<%= " #{current_user.first_name} #{current_user.last_name}" %></h2></p>

<div class="first_time_activity_setup">
	<% physical = ['walking', 'running', 'exercise'], food = ['rice_intake', 'cold_drinks', 'coffee_tea', 'oil_intake'], others = ['alchohol', 'cigarettes', 'water', 'sleep', 'day_active'] %>
	<% puts physical %>
	<% puts food %>
	<% puts others %>
</div>