<div class="dashboard">
	<%= render 'shared/left_section' %>
	<div class="right-section">

		<div>
			<% provide(:title, @title) %>
			<div>
				<h3><%= @title %></h3>
				<% if @users.any? %>
					<% @users.each do |user| %>
						<%= link_to "#{user.first_name} #{user.last_name}", profile_path(user) %><br>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>