<%= form_for(current_user.reverse_memberships.find_by(:comm_id => @comm.id), html: { method: :delete }) do |f| %>
	<div><%= f.hidden_field :comm_id %></div>
	<%= f.submit "Leave the Community", class: "btn" %>
<% end %>