// Place all the styles related to the activity_loggers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.activity-forms {
    margin-top: 130px;

    .physical {
        margin-left: 400px;
        width: 200px;
        height: 160px;
        float: left;
    }
    .food {
        margin-left: 700px;
        width: 200px;
        height: 160px;
    }
    .other {
        width: 700px;
        border-radius: 4px;
        margin-top: 50px;
        margin-left: 290px;
        background-color: rgba(101, 167, 167, 0.34);
        padding: 40px;
        margin-bottom: 200px;
        label {
            width: 100%;
            margin-top: 20px;
        }
        .activity_field {
            display: inline-flex;
            width: 600px;
            .form-control {
                margin-right: 20px;
            }
            btn-primary {
                margin-left: 20px;
            }
        }
    }
    .btn-physical, .btn-food {
    	width: 100%;
        height: 160px;
        float: left;
        color: #C7C7C7;
        background-color: #4F8484;
        /* margin-top: 130px; */
        font-size: 35px;
        padding-top: 45px;
        border: 9px solid #fff;
        text-align: center;
        border-radius: 12px;

        &:hover, &:focus {
            color: #FFFFFF;
            text-decoration: none;
            border: none;
            font-weight: bold;
            background-color: #3C5454;
        }
    }
}

/* input[type="date"].form-control {
    width: 200px;
} */
.new_activity_logger .form-control {
    width: 200px;
}

.progba {
    width: 200px;
    border: 1px solid;
    height: 34px;
}
.inside_progba {
    background-color: blue;
    width: 0px;
    height: 34px;
}

.show_activities {
    margin-top: 150px;
    margin-left: 210px;
    width: 850px;
    margin-bottom: 100px;
    background-color: #FFF;
    min-height: 500px;
    border-radius: 10px;
    padding: 25px;
    .activities_count {
        text-align: center;
    }
    .all_activity {
        .heading {
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            color: teal;
        }
        .date_activity {
            margin-bottom: 22px;
            h4, p {
                text-align: center;
            }
            h4 {
                color: steelblue;
                font-size: 20px;
                font-weight: bolder;
            }
            p {
                font-size: 17px;
            }
        }
        a {
            color: white;
            background-color: steelblue;
            font-weight: bolder;
            width: 100%;
            margin-bottom: 25px;
            &:hover {
                background-color: #2C506F;
            }
        }
    }
    .activity_display {
        padding: 10px;
        display: inline-flex;
        p {
            margin-right: 50px;
        }
    }
    #view_select{
        float: left;
    }
    #activities_select{
        float: right;
    }
    #day_view, #month_view, #week_view{
        text-align: center;
        margin-top: 60px;
    }
    .add_activity_btn {
        margin-bottom: 15px;
        a{
            width: 100%;
        }
    }
}
.back_link {
    margin-left: 588px;
}


#calendar_view {
    width: 800px;
}

#calendar_view .calendar {
    border-collapse: collapse;
    width: 100%;

    td, th {
        font-family: "Lucida Grande", arial, helvetica, sans-serif;
        font-size: 10px;
        padding: 6px;
        border: 1px solid #999;
    }
    th {
        background: #DDD;
        color: #666;
        text-align: center;
        width: 15%;
    }
    td {
        /* background: #FFF; */
        color: #777;
        height: 80px;
        vertical-align: top;
        font-size: 13px;
        li{
            display: none;
        }
    }

    .notmonth { color: #CCC; }
    .today { background-color: #D7F2FF; }
}

#calendar_view #month {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    a{
        text-decoration: none;
        padding: 0 10px;
        color: #999;
    }
}

#calendar_view ul {
    font-size: 11px;
    padding-left: 20px;
}

#calendar_view.calendar_data {
    display: none;
}
.active {
    background-color: #FFF;
}
.glyphicon-flag {
    color: #FF5656;
    font-size: 22px;
}



.activity_forms_tabs {
    width: 201px;
    float: left;
    margin-top: 59px;
    margin-left: 20px;
    margin-right: 25px;
    ul{
        padding-left: 0px;
    }
    li{
        list-style-type: none;
        margin-left: 22px;
        margin-bottom: 10px;
    }
    #first{
        background-color: rgb(255, 138, 80);
        &:hover{
            background-color: #F75200;
            border-left: 5px solid rgba(0, 0, 0, 0.27);
        }
    }
    #second{
        background-color: #17C6C7;
        &:hover{
            background-color: #00A6A7;
            border-left: 5px solid rgba(0, 0, 0, 0.27);
        }
    }
    #third{
        background-color: #47C172;
        &:hover{
            background-color: rgb(1, 80, 29);
            border-left: 5px solid rgba(0, 0, 0, 0.27);
        }
    }
    ul > li{
        border-bottom: 20px solid #FFF;
        /* background-color: white; */
        /* float: left; */
        border-top-left-radius: 0px;
        margin-left: 0px;
        padding-bottom: 10px;
        padding-left: 20px;
        margin-bottom: 0px;
        padding-top: 10px;
    }
    
    ul > a{
        height: 50px;
        /* text-align: center; */
        border-bottom: 1px solid rgba(195, 195, 195, 0.28);
        display: block;
        
        padding-left: 10px;
        padding-top: 18px;
        font-size: 14px;
        &:hover, &:focus {
            color: #0056A2;
            font-weight: 900;
            
            text-decoration: none;
        }
    }
    
}

.activity_logger_forms {
    padding: 120px;
    .form-group {
        float: left;
    }
}

#activity_form_table {
    margin-top: 150px;
    width: 80%;
    border-radius: 4px;
    margin-left: 130px;
    background-color: #FF8973;
}

.user_avatar_alogger {
    border-radius: 50%;
    display: inline-block;
    /* border-radius: 14%; */
    width: 60px;
    margin-right: 20px;
    /* border: 7px solid #FFF; */
    height: 60px;
    /* border: 1px solid #DEDEDE; */
    border-radius: 8;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.new_activity_logger:first-of-type {
    margin-top: 58px;
}
.new_activity_logger {
    background-color: antiquewhite;
    width: 370px;
    margin-left: 425px;
    box-shadow: 0px 5px 2px #C1B6A6;
    padding: 20px;
    border-radius: 5px;
    
    .form-group:first-of-type{
        margin-top: 30px;
    }
    .form-control{
        width: 100%;
    }
    div:nth-of-type(2){
        /* float: left; */
    }
    div:nth-of-type(5){
        
    }
}

.food_act, .other_activities_act {
    display: none;
}

.physical_act {
    form:nth-of-type(3){
        div:nth-of-type(4){
            margin-left: 15px;
            float: left;
        }
        div:nth-of-type(5){
            margin-left: 1px;
        }
        div:nth-of-type(6){
            display: inline-block;
            margin-left: 144px;
        }
    }
}

#choose_activity {
    /* margin-top: 135px; */
    width: 100%;
}

#running-form, #exercise-form, #cold_drinks, #coffee_or_tea, #oil_intake, #cigarettes, #water, #sleep, #day_active {
    display: none;
}

#exercise-form{
    div:nth-of-type(2){
        width: 48%;
        float: left;
        display: inline-block;
    }
    div:nth-of-type(3){
        width: 48%;
        margin-left: 13px;
        display: inline-block;
    }
}

.activated_tab {
    background-color: #FFF;
    border-left: 5px solid rgba(0, 0, 0, 0.27);
    font-weight: 900;
}

.control-forms{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.2);
    &:focus{
        outline: 0;
    }
}

.other_activities_act{
    form{
        background-color: #DADADA;
        input[type="submit"]{
            background-color: #47C172;
        }
    }
}

.food_act{
    form{
        background-color: #DADADA;
        input[type="submit"]{
            background-color: rgb(23, 198, 199);
        }
    }
}

.physical_act{
    form{
        background-color: #DADADA;
        input[type="submit"]{
            background-color: rgb(255, 114, 44);
        }
    }
}

#activity_logger_header{
    margin-top: 100px;
    margin-left: 90px;
    text-transform: uppercase;
    /* font-family: -webkit-body; */
    font-weight: 900;
    display: table;
    font-size: 45px;
    border-bottom: 1px solid;
}

input[type="date"], input[type="number"]{
    border: none;
}


#choose_physical_activity{
    border: none;
    &:hover{
        border: 1px solid #A74D4D;
    }
    .select-option{
        background-color: #CC6F40;
    }
    .select-option-highlight{
        background-color: #CCC;
    }
}