// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments_section {
	display: none;
}
.comments_link {
	margin-top: 22px;
    font-weight: bolder;
}

#link {
	font-size: 15px;
}

.post_title {
	font-size: 15px;
	font-weight: bold;
}

.upvoted {
	display: none;
}