// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.all_sections {
    background-color: white;
    padding: 30px;
    border-radius: 4px;
    #add_button {
        /* float: right; */
    }
    #add_form {
        padding-top: 0px;
        display: none;
    }
    .details_section {
        #form_avatar {
            margin-top: 14px;
            padding-left: 28px;
        }
        padding: 10px;
        h4 {
            border-bottom: 1px solid rgba(171, 171, 171, 0.23);
            padding-bottom: 5px;
            width: 300px;
            margin-bottom: 25px;
            font-size: 25px;
        }
        .detailed {
            border: 1px solid rgba(93, 93, 93, 0.2);
            padding: 10px;
            border-radius: 2px;
            margin-bottom: 10px;
        }
        .no_record{
            font-size: 15px;
            font-style: italic;
        }
        .add {
            margin-left: 260px;
            border-top-left-radius: 0px;
            font-style: italic;
            font-size: 13px;
            margin-top: -106px;
            border: 1px solid rgb(195, 195, 195);
            height: 24px;
            padding-top: 2px;
            color: #848282;
            border-top-right-radius: 0px;
            display: inline-block;
            background-color: rgb(212, 212, 212);
        }
        .btn-primary {
            color: #7B7B7B;
            background-color: #B5B5B5;
            font-size: 14px;
            border-color: #C3C3C3;
            padding-left: 7px;
            padding-top: 1px;
            padding-bottom: 1px;
            padding-right: 7px;
        }
        #add_button {
            margin-top: -52px;
        }
    }
    .dob {
        float: left;
        margin-top: 20px;
    }
    .avatar {
        float: right;
    }
    .bio {
        margin-top: 180px;
    }
    .prof_avatar{
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
}