<%# unless @user == current_user %>
	<div class="comm_form">
		<%= form_for(@comm) do |f| %>
			<div class="form-group">
				<%= f.text_field :c_name, placeholder: "Enter a Name for your community..", class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.submit "Submit", class: "btn btn-primary" %>
			</div>
		<% end %>
	</div>
<%# end %>